language: python
python:
  - "3.6"

dist: bionic
cache:
  apt: true
  pip: true
  directories:
  - $TRAVIS_BUILD_DIR/proximal/halide/subprojects/packagecache/
addons:
  apt:
    packages:
    - build-essential
    - ninja-build
    - python3-pip
    - python3-scipy
    - python3-numpy
    - python3-opencv
    - python3-numexpr
virtualenv:
  system_site_packages: true
script:
- bash continuous_integration/test_script.sh
notifications:
  email: false
